/* Write your CSS here */
.logout-button {
  height: 50px;
  width: 100px;
  background-color: #f8fafc;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #303150;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
}
